.container {
  position: absolute;
  width: 231px;
  height: fit-content;
  top: 50px;
  left: 75px;
}

.h1 {
  font-size: 16px;
  text-decoration: none;
  line-height: 18px;
  width: fit-content;
}

.h1:hover,
.li:hover,
.p:hover {
  color: rgb(194, 127, 127);
}
.p {
  line-height: 14px;
  font-size: 14px;
  width: fit-content;
}

.bioText {
  font-weight: 300;
  font-size: 14px;
  width: fit-content;
  text-align: justify;
}
@media only screen and (max-width: 600px) {
  .container {
    position: relative;
    width: fit-content;
    max-width: 90%;
    height: fit-content;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .h1 {
    font-size: 15px;
    text-decoration: none;
    line-height: 15px;
    width: fit-content;
  }

  .h1:hover,
  .li:hover,
  .p:hover {
    color: rgb(194, 127, 127);
  }
  .p {
    line-height: 12px;
    font-size: 12px;
    width: fit-content;
  }

  .bioText {
    font-weight: 300;
    font-size: 14px;
    width: fit-content;
    text-align: justify;
  }
}
