.ul {
  display: flex;
  flex-direction: column;
  width: fit-content;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.li:hover {
  color: rgb(194, 127, 127);
}
.li {
  width: fit-content;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 2px;
}
.link {
  text-decoration: none;
}
